@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Londrina+Sketch&display=swap");

:root {
  font-family: "Comfortaa", sans-serif;

  color-scheme: light dark;
  color: #213547;
  background-color: #fefbf0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: rgb(85, 105, 88);
    font-weight: 1000;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background-color: inherit;
  color: black;
  border: 1px solid gray;
  border-radius: 10px;
}

input {
  background-color: inherit;
  color: black;
}

h1 {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

h2 {
  font-family: "Londrina Sketch", sans-serif;
  font-size: 3rem;
}

.shop-page > h2 {
  padding: 0 1em;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border: 1px solid black;
  border-radius: 10px;
}

.item-card > img {
  height: 20em;
}

.card-info,
.card-actions {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.card-info > *,
.card-actions > * {
  font-size: 1.5rem;
}

.card-actions > input {
  flex: 1;
  width: 30%;
  border-radius: 10px;
}

.card-actions > button {
  flex: 3;
  font-family: "Comfortaa", sans-serif;
  background-color: rgb(85, 105, 88);
  color: #fefbf0;
  font-weight: bold;
  font-size: large;
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 26px -3px #a0a59f;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgb(254, 251, 240);
}

.nav-bar > *,
.nav-tabs {
  border: 1px solid black;
  padding: 2em;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
  flex: 17;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3em;
  padding: 1em 3em;
}

.cart-button {
  flex: 1;
  &:hover {
    cursor: pointer;
  }
}

.cart-add:hover {
  cursor: pointer;
}

.cart-header {
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header > a > button {
  padding: 1em;
  font-family: "Comfortaa", sans-serif;
  background-color: rgb(85, 105, 88);
  color: #fefbf0;
  font-weight: bold;
  font-size: large;
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 26px -3px #a0a59f;
  }
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3em;
  padding: 1em 3em;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page > h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2rem;
}

.home-cta {
  background-image: url(https://www.islandvacationproperties.com/wp-content/uploads/2020/11/Website-Header-Blog-1920x700-19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30em;
  width: 100vw;
  margin: 1em 0 3em 0;
}

.home-cta > a > button {
  padding: 1em;
  background-color: rgb(254, 251, 240);
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  font-size: large;
  &:hover {
    cursor: pointer;
  }
}

.home-page > a > button {
  padding: 1em;
  margin-bottom: 1em;
  font-family: "Comfortaa", sans-serif;
  background-color: rgb(85, 105, 88);
  color: #fefbf0;
  font-weight: bold;
  font-size: large;
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 26px -3px #a0a59f;
  }
}

.error-bad-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-bad-page > a > button {
  padding: 1em;
  font-family: "Comfortaa", sans-serif;
  background-color: rgb(85, 105, 88);
  color: #fefbf0;
  font-weight: bold;
  font-size: large;
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 26px -3px #a0a59f;
  }
}

.checkout-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-page > a > button {
  padding: 1em;
  margin: 1em;
  font-family: "Comfortaa", sans-serif;
  background-color: rgb(85, 105, 88);
  color: #fefbf0;
  font-weight: bold;
  font-size: large;
  transition: all 0.5s ease;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 26px -3px #a0a59f;
  }
}
